<!DOCTYPE html>
<html>
<head>
  <title>Add Employee Information</title>
  <style>
    nav { text-align: center; margin: 12px 0; }
    nav a { margin: 0 10px; color: DodgerBlue; text-decoration: none; font-family: avenir, sans-serif; }
  </style>
</head>
<center>
  <font color="black" size="4" style="font-family: avenir">
    <h1 style="color: DodgerBlue">Employee Database</h1>
    <body style="background: {{ color }};">
      <nav>
        <a href="{{ url_for('home') }}">🏠 Home</a> |
        <a href="{{ url_for('getemp') }}">🔍 Get Employee</a> |
        <a href="{{ url_for('about') }}">ℹ️ About</a>
      </nav>

      <form action="{{ url_for('addemp_post') }}" autocomplete="on" method="POST" enctype="multipart/form-data">

        Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>
        First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name"><br><br>
        Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>
        Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="primary_skill"><br><br>
        Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

        <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; font:oblique;">UPDATE DATABASE</button><br><br>
        <a href="{{ url_for('getemp') }}">
          <button type="button" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button>
        </a><br><br>

      </form>
    </body>
  </font>
</center>
</html>
